body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #21aef0;
}
h1 {
    color: #dd1df7;
    
}
p {
    color:rgb(236, 238, 95)
}
