.dihik{
    width: 400px;
    height: 400px;
    background-color: aquamarine;
    display: grid;
    place-items: center;
    border-radius: 7cm;
}
body{
    margin: 0;
    padding: 0;
    font-family: fantasy;
}
section{
    margin: 18px;
    padding: 20px;
}
.parent{
    width: 200px;
    height: 200px;
    background-color: crimson;
    border-radius: 5cm;
    display: grid;
    

}
.child{
    background-color: coral;
    width: 50%;
    height: 50%;
    border-radius: 5cm;
    display: grid;
    place-items: center;
    place-self: center ;
    
}
.panel {
    background-color: rgb(127, 127, 214);
    width: 200px;
    height: 200px;
    display: grid;
    border-width: 5px;
    border-style: solid;
    place-content: center;
    place-self: center;
    border-top-color: aqua;
    border-bottom-color: rgb(117, 207, 124);
    border-right-color: darkmagenta;
    border-left-color: darksalmon;
    
}
.mix {background-color: rgb(218, 181, 215);
    width: 200 px;
    height: 200px;
    display: grid;
    border-width: 5px;
    border-style:dotted;
    place-items: center;
    border-top-style: double;
    border-bottom-style: double;


}
.card{ background-color: rgb(201, 66, 172);
    width: 150px;
    height: 150px;
    display: grid;
    border-width: 5px;
    place-items: center;
    place-self: center;

}