h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blueviolet;
    background-color: blanchedalmond;
  place-self: center;
}
.nig{
    color: aqua;
    background-color: black;
}
.gr{
    color: azure;
    background-color: black;
}
.ahoj{
    color: blueviolet;
    background-color: black;
}
